$colour-primary:#9356DC;
$colour-primary-2:#F5EDFF;
$colour-background:#F7F7F7;
$colour-white:#FFFFFF;
$colour-black:#101010;
$colour-green:#99E2D0;
$colour-green-font:#008766;
$colour-grey-one:#353535;
$colour-grey-two:#EAEAEA;
$colour-grey-three:#7E7E7E;
$colour-btn-gradient:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

